@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #6c63ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c63ff;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #6c63ff #f1f1f1;
}